<div class="create"><h1>Challenge {{lessonNumber}} of {{totalLessons}}</h1>
<h2>Finish all {{exercise.length}} sentences with a score of 500 points or higher to move on to the next exercise</h2>
<div id="container">
  <button class="play learn-more">
    <span class="circle" aria-hidden="true">
      <span class="icon arrow"></span>
    </span>
    <a href="/learn/practice" class="button-text">Start Challenge</a>
  </button>
</div>
</div>