<h1>Challenge {{lessonNumber}} of {{totalLessons}}</h1>
<h2>Finish all {{exercise.length}} sentences with a score of 500 points or higher to move on to the next exercise</h2>
<a href="/learn/practice">Go</a>