<div class="start-container">
  <h1>Welcome to Blossom {{username}}</h1>
  <h3>This is your profile page.</h3>
  <p>Here you will see all of you progress and evaluations. But first, start by completing your first lesson.</p>

  <div id="container">
    <button class="play learn-more">
      <span class="circle" aria-hidden="true">
        <span class="icon arrow"></span>
      </span>
      <a href="/learn/create" class="button-text">Start Lesson</a>
    </button>
  </div>
</div>