{{#with students}}
<h2 class="center-title">{{this.firstname}}`s Details</h2>
<div class="row justify-content-center">
    <div class="col text-center" style="max-width: fit-content;">

    </div>
</div>
{{/with}}