<div class="video-container">
    <video id="videoBG" poster="/images/poster.png" autoplay muted loop>
        <source src="/videos/bg-main.mp4" type="video/mp4">
    </video>
    <div class="video-buttons">
        <button type="button" class="btn btn-primary">GET STARTED</button>
        <button type="button" class="btn btn-secondary">I ALREADY HAVE AN ACCOUNT</button>
    </div>
</div>
<div class="mid-home">
    <span>
        <img class="bird" src="/images/colibri.png" alt="Blossom">
    </span>
    <div>
        <h2>The best way to learn English!</h2>
        <p>Learning with Blossom is fun and addictive. Earn points for correct answers, race against the clock, and
            level up.</p>
    </div>
</div>

<footer>
    <ul>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Instagram</a></li>
        <li class="hand">
            <p>👋</p>
        </li>
    </ul>
</footer>