<!DOCTYPE html>
<html lang="en">
{{> head}}
{{> scripts}}
<body>
    {{#if teacher}}
    {{> teacherNav}}
    {{else if student}}
    {{> studentNav}}
    {{else}}
    {{> nav}}
    {{/if}}
    <div>
        {{{body}}}
    </div>

</body>

</html>