<div class="exercise">
  <div class="spanish">{{spanish}}</div>
  <div class="block">
    {{#each shuffleBlock}}
      <div class="word">{{this}}</div>
    {{/each}}
  </div>
  <div class="english">{{english}}</div>
</div>