<div class="exercise">


  <div class="spanish">{{spanish}}</div>
  <div class="click-english">
    {{#each english}}
    <div class="click-word">{{this}}</div>
    {{/each}}
  </div>



  <p id="timer"></p>
  <button onclick="timer()">Start</button>


</div>